<%- include('partials/header.ejs') %>

<h1 id="main-title">Personal Movie Ratings</h1>
<p id="main-description">This is where I put my opinions on a movie that I have watched.</p>

<% if(!locals.movies || locals.movies.length === 0) { %>
    <p id="no-movies-indicator">No movies rated yet</p>
<% } else { %>
    <% movies.forEach((movie) => { %>
        <div class="movie-card">
            <section class="main-movie-date-wrapper">
                <span class="main-movie-date"><%= movie.date_created %></span>
                <div class="kebab-menu">
                    <button class="kebab-menu-btn">&#8942;</button>
                    <div class="kebab-menu-options">
                        <a class="edit-post-btn" href="/edit/<%= movie.id %>">Edit</a>
                        <a class="delete-post-btn" href="/delete/<%= movie.id %>">Delete</a>
                    </div>
                </div>
            </section>
            <img class="main-movie-poster" src="<%= movie.poster %>" alt="Movie Poster">
            <p class="main-movie-title-and-year"><%= movie.title %></p>
            <p class="main-personal-score">Personal score: <%= movie.score %> / 5</p>
            <div class="main-movie-rating-wrapper">
                <p class="main-movie-rating"><%= movie.rating %></p>
            </div>
        </div>
    <% }) %>
<% } %>

<%- include('partials/footer.ejs') %>
