<%- include('partials/header.ejs') %>

<h1 id="main-title">Personal Movie Ratings</h1>
<p id="main-description">This is where I put my opinions on a movie that I have watched.</p>

<% if(!locals.movies) { %>
    <p id="no-movies-indicator">No movies rated yet</p>
<% } else { %>
    <img class="main-movie-poster" src="<%= movies.poster %>" alt="Movie Poster">
    <p class="main-movie-title-and-year"><%= movies.title %> (<%= movies.year %>)</p>
<% } %>

<%- include('partials/footer.ejs') %>
